* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.carousel-item__image {
    height: 400px;
}


.header-aura {
    background-color: #bdf0e7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 10px 0;
}

.brand-aura {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 4px;
}


.footer_main {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #eee;
    background-color: #bdf0e7;
    margin-top: auto;
}


.icons__footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.icons__footer i {
    font-size: 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.




.card__galery{
    padding: 30px;


}


.btn-primary {
    background-color: #bdf0e7;
    border-color: #bdf0e7;
    color: rgb(44, 44, 44);
}

.btn-primary:hover {
    background-color: #b5e6dd;
    border-color: #bdf0e7;
    color: #000; 
}